<div class="container mt-5">
  <h1 class="mb-4">Motie formulier</h1>
  <form>
    <div class="form-group">
      <label for="subject">Waar is de motie voor?</label>
      <input class="form-control" [(ngModel)]="subject" id="subject" name="subject" required type="text">
    </div>
    <div class="form-group">
      <label for="indiener">Wie maakt deze motie?</label>
      <input class="form-control" [(ngModel)]="indiener" id="indiener" name="indiener" required type="text">
    </div>
    <div class="form-group">
      <label for="agenda">Voor welke vergadering?</label>
      <input class="form-control" [(ngModel)]="meeting" id="agenda" name="agenda" required type="text">
    </div>
    <div class="form-group">
      <label for="date">Wat is de datum van de vergadering?</label>
      <input class="form-control" [(ngModel)]="date" id="date" name="date" required type="date">
    </div>
    <div class="form-group">
      <label>Wat zijn je constateringen?</label>
      <div id="constateringen-container">
        @for (item of constateringen; let i = $index; track i; let last = $last) {
          <div class="input-group mb-2">
            <input *ngIf="last" class="form-control" type="text" name="constateringen" required [(ngModel)]="constateringen[i]">
            <span *ngIf="!last" class="form-control">{{item}}</span>
            <div class="input-group-append">
              <button type="button" class="btn btn-danger" (click)="constateringen.splice(i, 1)">Verwijder</button>
            </div>
          </div>
        }
      </div>
      <button class="btn btn-primary" (click)="constateringen.push('')" id="add-constateringen" type="button">Nog een constatering</button>
    </div>
    <div class="form-group">
      <label>Wat zijn de overwegingen?</label>
      <div id="overwegingen-container">
        @for (item of overwegingen; let i = $index; track i; let last = $last) {
          <div class="input-group mb-2">
            <input *ngIf="last" class="form-control" type="text" name="overwegingen" required [(ngModel)]="overwegingen[i]">
            <span *ngIf="!last" class="form-control">{{item}}</span>
            <div class="input-group-append">
              <button type="button" class="btn btn-danger" (click)="overwegingen.splice(i, 1)">Verwijder</button>
            </div>
          </div>
        }
      </div>
      <button class="btn btn-primary" (click)="overwegingen.push('')" id="add-overwegingen" type="button">Nog een overweging</button>
    </div>
    <div class="form-group">
      <label>Wat zijn de gewenste acties?</label>
      <div id="acties-container">
        @for (item of actions; let i = $index; track i; let last = $last) {
          <div class="input-group mb-2">
            <input *ngIf="last" class="form-control" type="text" name="acties" required [(ngModel)]="actions[i]">
            <span *ngIf="!last" class="form-control">{{item}}</span>
            <div class="input-group-append">
              <button type="button" class="btn btn-danger" (click)="actions.splice(i, 1)">Verwijder</button>
            </div>
          </div>
        }
      </div>
      <button class="btn btn-primary" (click)="actions.push('')" id="add-acties" type="button">Nog een actie</button>
    </div>
    <div class="form-group">
      <label for="who">Wie moet dat doen?</label>
      <input class="form-control" id="who" name="who" required type="text" [(ngModel)]="wie">
    </div>
  </form>
</div>

<div class="document container mt-5">
  <b>Motie voor {{ subject }}</b><br>
  <i>Ingediend door: {{indiener}}</i><br>
  <br>
  De {{ meeting }}, bijeen op {{ date }},<br>
  <br>
  Gehoord de beraadslaging,<br>
  <br>
  Constaterende, dat:<br>
  - *ngFor="let item of constateringen">{{ item }};<br><br>
  Overwegende, dat:<br>
  - *ngFor="let item of overwegingen">{{ item }};<br><br>
  Roept {{ wie }} op, om:<br>
  - *ngFor="let item of actions">{{ item }};<br><br>
  En gaat over tot de orde van de dag.
</div>
